*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background: white;
}

/* Header */
header{
    margin: -1em auto;
    margin-bottom: 2em;
    /*max-width: 800px; */
    width: 100%;
    font: 18px/1.5 sans-serif;
}

header h1{
    font-size: 46px;
}

/*  Menu */
nav ul{

    list-style: none;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    background: black;
    line-height: 50px;

}

nav ul li{

    display:block;
    float:left;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: all 300ms;

}

li.menu-right {
    border-left:1px solid white ;
    float: right;
}

nav ul li a{
    display:block;
    color: white;
    text-decoration: none;
    transition: all 300ms;
}

nav ul li:hover {
    background: crimson;
}

nav ul li:hover a {
    color: white;
}

nav ul li a:hover{

}

/* Contenido */
.content{
    width: 95%;
    height: 100%;
    margin: 0px auto;
    margin-top: 2px;
    padding: 25px;
    background: white;
    /* box-shadow: 0px 0px 2px gray; */

}
.example-wrapper {
    margin: 1em auto;
    /*max-width: 800px; */
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}
/* Clear-Fix */
.clear-fix{
    float:none;
    clear: both;
}



/* Table tasks list */
.add-task {
    display: block;
    float: right;
}

span.material-icons.add {
    font-size: 50px;
}

tr {
    text-align: center;
}
tr a {
    text-decoration: none;
}

/* Icons table tasks list */
i.material-icons.view {
    color: green;
}

i.material-icons.edit {
    color: darkblue;
}

i.material-icons.delete {
    color: crimson;
}

/* Task detail */
body{
    margin-top:20px;
    background: #90d2ff;
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}
.thumb-sm {
    height: 36px;
    width: 36px;
}

.task-detail .task-dates li {
    width: 50%;
    float: left
}

.task-detail .task-tags .bootstrap-tagsinput {
    padding: 0;
    border: none
}

.task-detail .assign-team a {
    display: inline-block;
    margin: 5px 5px 5px 0
}

.task-detail .files-list .file-box {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    padding: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box
}

.task-detail .files-list .file-box img {
    line-height: 70px
}

.task-detail .files-list .file-box p {
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.add-new-plus {
    height: 32px;
    text-align: center;
    width: 32px;
    display: block;
    line-height: 32px;
    color: #98a6ad;
    font-weight: 700;
    background-color: #e3eaef;
    border-radius: 50%
}

.project-sort-item .form-group {
    margin-right: 30px
}

.project-sort-item .form-group:last-of-type {
    margin-right: 0
}

.project-box {
    position: relative
}

.project-box .badge {
    position: absolute;
    right: 20px
}

.project-box h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden
}

.project-box ul li {
    padding-right: 30px
}

.project-box .project-members a {
    margin: 0 0 10px -12px;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02)
}

.project-box .project-members a:first-of-type {
    margin-left: 0
}

.company-card .company-logo {
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 3px
}

.company-card .company-detail {
    margin: 0 0 50px 75px
}
.text-muted {
    color: #98a6ad!important;
    text-align: justify;
}

p {
    line-height: 1.6;
    font-size: 14px;
}

.bootstrap-tagsinput .label-info {
    background-color: #02c0ce;
    display: inline-block;
    padding: 4px 8px;
    font-size: 13px;
    margin: 3px 1px;
    border-radius: 3px;
}


/* Form register */

label{
    display: block;
    width: 80%;
    margin-top:15px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    width: 55%;
    padding: 8px;
}

button,
input[type="submit"]{
    padding:8px;
    margin-top:15px;
    background: #00AA33;
    color: white;
    border: 1px solid #047425;
    border-radius: 5px;
    cursor:pointer;
    transition: all 300ms;
}

button.btn {
    padding:8px;
    margin-top:15px;
    background: #00AA33;
    color: white;
    border: 1px solid #047425;
    border-radius: 5px;
    cursor:pointer;
    transition: all 300ms;
}

button.btn:hover{
    background: #047425;
    color: white !important;
}

button:hover,
input[type="submit"]:hover{
    background: #047425;
    color: white !important;
}


/* Footer */
footer{
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    position: fixed;
    height: 47px;
    bottom: 0px;
    /*background: rgba(51, 51, 51, 0.7);*/
    background: black;
    margin: 0px auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
    text-align: center;

}